@import './card-component.css';

/* 카드 레이아웃 */

/* 1,2번 카드 와이드, 3번카드(15프로 누운이미지) 
이후 2열로*/

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);

    .card-01 {
      grid-area: 1 / 1 / 2 / 3;
      background-image: image-set(url(../src/apple/products/ipad_pro_wide.jpeg) 1x, url(../src/apple/products/ipad_pro_wide_2x.jpeg) 2x);
    }
    .card-02 {
      grid-area: 2 / 1 / 3 / 3;
      background-image: image-set(url(../src/apple/products/ipad_air_wide.jpeg) 1x, url(../src/apple/products/ipad_air_wide_2x.jpeg) 2x);
    }
    .card-03 {
      grid-area: 3 / 1 / 4 / 3;
      background-image: image-set(url(../src/apple/products/iphone15_pro_wide.jpeg) 1x, url(../src/apple/products/iphone15_pro_wide_2x.jpeg) 2x);
    }
  }
}

button {
  cursor: pointer;
}
