<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 824ecc6 (애플 컴포넌트 중간 완성)
@import './reset.css';
@import './theme.css';
@import './base.css';

<<<<<<< HEAD
/* 카드 01 */
.card-01 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/ipad_pro.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/ipad_pro.jpeg) 1x, url(./src/apple/products/ipad_pro_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
=======
/* 카드 한장 */
.card {
  block-size: var(--size);
  inline-size: 100%;
  background: url(/src/apple/products/ipad_pro.jpeg) no-repeat;
>>>>>>> 824ecc6 (애플 컴포넌트 중간 완성)
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
<<<<<<< HEAD
    grid-column: 2 / 6;
=======
    grid-column: 3 / 5;
>>>>>>> 824ecc6 (애플 컴포넌트 중간 완성)
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--white);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--white);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--white);
    opacity: 50%;
    /* display: none; */
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
<<<<<<< HEAD
      border: 1px solid var(--blue-400);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--blue-400);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--blue-400);
    }
  }
}

/* 카드 02 */
.card-02 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/ipad_air.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/ipad_air.jpeg) 1x, url(./src/apple/products/ipad_air_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--black);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--black);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--black);
    opacity: 50%;
    /* display: none; */
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--black);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--black);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--black);
    }
  }
}

/* 카드 03 */
.card-03 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/iphone15_pro.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/iphone15_pro.jpeg) 1x, url(./src/apple/products/iphone15_pro_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--white);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--white);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--black);
    opacity: 50%;
    display: none;
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--blue-400);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--blue-400);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--blue-400);
    }
  }
}

/* 카드 04 */
.card-04 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/iphone15.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/iphone15.jpeg) 1x, url(./src/apple/products/iphone15_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--black);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--black);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--white);
    opacity: 50%;
    display: none;
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--black);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--black);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--black);
    }
  }
}

/* 카드 05 */
.card-05 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/apple_watch.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/apple_watch.jpeg) 1x, url(./src/apple/products/apple_watch_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--white);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--white);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--white);
    opacity: 50%;
    display: none;
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--blue-400);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--blue-400);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--blue-400);
    }
  }
}
/* 카드 06 */
.card-06 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/macbook_air.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/macbook_air.jpeg) 1x, url(./src/apple/products/macbook_air_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--black);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--black);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--black);
    opacity: 50%;
    display: none;
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--black);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--black);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--black);
    }
  }
}

/* 카드 07 */
.card-07 {
  block-size: var(--size);
  inline-size: 100%;
  background: url(./src/apple/products/airpods_pro.jpeg) no-repeat;
  background-image: image-set(url(./src/apple/products/airpods_pro.jpeg) 1x, url(./src/apple/products/airpods_pro_2x.jpeg) 2x);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(6, 1fr);
  /* justify-items: center; */

  .card-ctxt {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 5;
    grid-column: 2 / 6;
    text-align: center;
  }

  .first-model {
    font-size: var(--large-text);
    color: var(--white);

    margin-block-start: var(--large-spacing);
    margin-block-end: var(--small-spacing);
  }
  .second-ctxt {
    font-size: var(--base-text);
    color: var(--white);
    margin-block-end: var(--small-spacing);
    line-height: var(--line-normal);
  }
  .third-sub {
    margin-block-end: var(--small-spacing);
    font-size: var(--small-text);
    color: var(--white);
    opacity: 50%;
    display: none;
  }

  .buttons {
    display: flex;
    gap: var(--base-spacing);
    justify-content: center;

    button {
      border: 1px solid var(--blue-400);
      border-radius: 20px;
      padding: var(--x-small-spacing) var(--small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--blue-400);
      color: var(--white);
    }
    .fourth-price {
      background: transparent;
      color: var(--blue-400);
    }
  }
}
=======
@import "./reset.css";
@import "./theme.css";
@import "./base.css";
>>>>>>> f721293 (애플 과제)
=======
      border: 1px solid var(--white);
      border-radius: 20px;
      padding: var(--x-small-spacing);
      font-size: var(--xx-small-text);
    }
    .fourth-more {
      background: var(--white);
      color: var(--black);
    }
    .fourth-price {
      background: transparent;
      color: var(--white);
    }
  }
}
>>>>>>> 824ecc6 (애플 컴포넌트 중간 완성)
